*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*// 1rem =  10px /16 px = 62.5%;*/
  letter-spacing: .1rem;
}

body {
  position: fixed;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Karla', 'Sans-serif';
  font-size: 1.6rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: $color-white;
  overflow:hidden;
  background-color: #282d31;

  @media only screen and (min-width: $bp-medium) {
    overflow : auto !important;
  }
}
img {
  max-width: 100%;
  backface-visibility: hidden;
}

a {
  color: $color-white;
  &:hover {
    text-decoration: none;
  }
}
.container {
  padding: 0;
}
.pp-section {
  padding-bottom: 9rem;
}

input, textarea {
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.show {
  transition: none;
}

.min-ht {
  min-height: 15rem;
}

