.login {
  &__title {
    border-bottom: .5rem solid #ffc9c9 !important;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: $color-black;
    border-radius: 3rem;
  }
  &-container {
    position: relative;
    height: 8rem;
    & img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 4rem;

    }
  }
}

