/// Bootstrap modification
.modal-open {
  padding-right: 0px !important;
}
.carousel-item {
  height: 100%;
}
.modal-content {
  background-color: transparent;
  border: none;
}
//
.gallery-carousel {
  display: block;
  width: 100%;
}


.section__gallery .card-columns .card {
  border: none;
  border-radius: 0;

  @media only screen and (max-width: 768px) {
    padding: 0 1rem;
  }
}



.card {
  background-color: transparent;
  border: none;
}

.section__gallery {
  min-height: 50rem;
  &-img__box {
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 0;
    transition: all .5s;
    & img {
      transition: all .5s;
    }
    &:active {
      transform: scale(1.01);
      filter: blur(3px) brightness(50%);
    }
  }
  &-content {
    z-index:1000;
  }
  &-link {
    color: $pilgrim-color-dark !important;
  }
  @media only screen and (min-width: $bp-medium) {
    &-effect {
      position: relative;
      overflow: hidden;
      text-align: center;
      border: 0;
      transition: all .5s;
      & img {
        transition: all .5s;
      }
      &:hover {
        &:hover::after {
          opacity: 1;
        }
        .section__gallery-content {
          opacity: 1;
          color: $color-white;
          transform: translate(-50%, -50%) translateY(0);
        }
        .section__gallery-link {
          color: $color-white;
          opacity: 1;
          transform: translateX(0);
        }
        & img {
          transform: scale(1.2);
          filter: blur(3px) brightness(50%);
        }
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: all .2s;
      }
    }


    &-caption {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-caption__box {
      position: relative;
      width: 100%;
      height: 100%;
    }
    &-content {
      position: absolute;
      width: 80%;
      border: .1rem $color-white solid;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translateY(-4rem);
      z-index: 1000;
      transition: all .5s;

      opacity: 0;
    }
    &-link {
      position: absolute;
      bottom: 1%;
      right: 2%;
      color: $color-white !important;
      transform: translateX(4rem);
      z-index: 1000;
      opacity: 0;
      transition: all .5s;
      transition-delay: .5s;
    }
  }
}

@media only screen and (max-width: $bp-medium) {
  .card-columns {
    column-count: 2;
  }
}
@media only screen and (max-width: $bp-small) {
  .card-columns {
    column-count: 1;
  }
}